/*
  Custom styles for Trackster App
*/
html {
  font-size: 16px;
}

/* Header Start */
.header {
  background-color: rgb(35, 2, 63);
}

.header h1 {
  font-family: Righteous;
  font-size: 2.5rem;
  color: rgb(255, 0, 171);
}

#search-button {
  background-color: rgb(255, 102, 204);
}


/* Header End */

/* Title Section Start */
.attributes {
  background-color: rgb(104, 0, 255);
}

.attribute {
  color: rgb(255, 255, 255);
}
/* Title Section End */
